@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Source Code Pro', monospace;
}
h2{
    font-size: 1rem;
}
.content{
    width: 100%;
    min-height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    animation: bg 10s alternate infinite;
}
@keyframes bg{
    0%{
        background-size: 100%;
    }
    50%{
        background-size: 200%;
    }
    75%{
        background-size: 150%;
    }
    100%{
        background-size: 300%;
        background-color: #6a7cd4;
    }
}
nav{
    width: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #713da2;
    padding: 2rem;
    top: 0;
    transition: 2s;
}
a{
    display: block;
    max-width: 12rem;
    min-width: 7rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: gold;
    padding:1rem 2rem;
    border-radius: 1rem;
    border: 0.4px solid gold;
}

li{
    /* display: block; */
    margin: 1rem 2rem;
    text-align: center;

}

a:hover{
    background-color: gold;
    color: black;
}
.menu{
    position: absolute;
    top: 10%;
    right: 4%;
    background-color: black;
    box-shadow: 0 0px 7px 7px #ade6ae;
    cursor: pointer;
    z-index: 2;
}

.inactive{
    display: none;
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    margin: 6rem 0;
    min-width: 40%;
    max-width: 90%;
    background: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50px;
    box-shadow: 0 10px 100px 10px rgba(255, 255, 255, 0.267);
}
.inputbox{
    margin: 2rem;
    width: 100%;
    position: relative;
}
input{
    display: block;
}
input[type="text"],input[type="password"]{
    border: none;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 2rem;
    outline: none;
    padding: 0 0.8rem;
}
label{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ;
    font-size: 1.25rem;
}

input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label {
    top: -40px;
    color: yellow;
}

.btn-grp{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 80%;
    margin: 2rem;
}
.btn{
    cursor: pointer;
    padding: 1em 4em;
    border: none;
    border-radius: 20px;
    background: #24c6dc; 
    background: -webkit-linear-gradient(to right, #24c6dc, #7b76b6); 
    background: linear-gradient(to right, #24c6dc, #837ebd);
    color: whitesmoke;
    font-weight: 600;
    margin: 1rem;
}
.preview{
    max-width: 32rem;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#image_preview{
    display: none;
    width: 40%;
    object-fit: contain;
    
}

.upload{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#upload{
    width: 70%;
    font-size: 1rem;
    padding: 1em 0;
}

#upload-btn{
    width: 5%;
}

#file{
    display: none;
}

@media only screen and (max-width: 1000px) {
    label{
        font-size: 1rem;
    }
    #upload-btn{
        width: 20%;
    }
    .container{
        padding: 5rem 2rem;
        margin-top: 7rem;
    }
    #image_preview{
        width: 60%;
    }
    #upload{
        width: 100%;
    }
    a{
        font-size: 1rem;
    }
    nav{
        padding: 4rem;
    }
}
