.content{
    background: none;
    animation: none;
}

.form-signin{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border: 0.5px solid gray;
    margin: 1rem;
    text-align: center;
    width: 80%;
    font-size: 1rem;
}
input::placeholder{
    font-size: 1rem;
}