<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <h3>
                            <a href="/post">
                                Posts
                            </a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a href="/form">
                                SignIn
                            </a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a href="/myprofile">
                                MyProfile
                            </a>
                        </h3>
                    </li>
                </ul>
            </nav>
            <box-icon name='menu' color="whitesmoke" class="menu" id="line-menu"></box-icon>
            <box-icon name='x' class="menu inactive" color="whitesmoke" id="x-menu"></box-icon>
            <h1>
                SNAPSHOT
            </h1>
            <P>The Way</P>
            <P>You DISPLAY</P>
        </header>

        <section class="image-gallery">
            <div class="lighthouse">
                <!-- for opening an image-->
                <box-icon name='x' class="lighthouse-close menu" color="whitesmoke"></box-icon>
            </div>
            {% for img in img_list %}
            <div class="card">
                <div class="image-container">
                    <img src="data:;base64,{{ img.post | b64_img }}" alt="author name" class="image-click">
                </div>
                <h2>
                    Img Name
                </h2>
                <p>
                    Author Name
                </p>
                <p>
                    <box-icon type="solid" color="black" name='like' animation='tada' id="userid"></box-icon>
                </p>
            </div>
            {% endfor %}

        </section>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>