<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <h3>
                            <a class="nav-link" href="/post">
                                Posts
                            </a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a class="nav-link" href="/form">
                                SignIn
                            </a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a class="nav-link" href="/myprofile">
                                MyProfile
                            </a>
                        </h3>
                    </li>
                </ul>
            </nav>
            <box-icon name='menu' color="whitesmoke" class="menu" id="line-menu"></box-icon>
            <box-icon name='x' class="menu inactive" color="whitesmoke" id="x-menu"></box-icon>
            <h1>
                SNAPSHOT
            </h1>
            <P>The Way</P>
            <P>You DISPLAY</P>
        </header>

        <section class="image-gallery">
            <div class="lighthouse">
                <!-- for opening an image-->
                <box-icon name='x' class="lighthouse-close menu" color="whitesmoke"></box-icon>
            </div>
            {% for img in img_list %}
            <div class="card">
                <div class="image-container">
                    <img src="data:;base64,{{ img.post | b64_img }}" alt="author name" class="image-click">
                </div>
                <h2 class="image-title">
                    {{ img.name }}
                </h2>
                <p>
                    <a href="/userprofile/{{ img.author.id }}">
                        {{ img.author.name }}
                        <!-- using backref author of User table to get the username-->
                    </a>
                </p>
                <p class="icon">
                    {% if  session.get('user') %}
                    <!-- if both user id and img id is present in like table then post is liked -->
                        {% if Like.query.filter_by(user_id=user_id , post_id = img.id).first() %}
                            <box-icon aria-disabled="false" type="solid"
                                color="red" name='like' category="1" animation='tada' id="{{img.id}}"
                                style="margin-right: 0.5em;"></box-icon>
                        {% else %}
                            <box-icon aria-disabled="false" type="solid"
                                color="black" name='like' category="0" animation='tada' id="{{img.id}}"
                                style="margin-right: 0.5em;"></box-icon>
                        {% endif %}

                    {% else %}
                        <box-icon aria-disabled="true" type="solid"
                            color="black" name='like' category="0" animation='tada' id="{{img.id}}"
                            style="margin-right: 0.5em;"></box-icon>
                    {% endif %}
                    <span id="like-counter">{{ img.like_id.all() | length}}</span>
                </p>
            </div>
            {% endfor %}

        </section>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- running scripts when home page is loaded -->
    <script>
        // when home page is opened
        Toastify({
            text: "Welcome To Snapshot!",
            duration: 3000,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                "font-family": 'Roboto Mono',
                color:"black",
                background: "white",
            }
        }).showToast();
    </script>
</body>

</html>