<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshot</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <h3>
                            <a href="#">
                                Posts
                            </a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a href="#">
                                Profile
                            </a>
                        </h3>
                    </li>
                </ul>
            </nav>
            <box-icon name='menu' color="whitesmoke" class="menu" id="line-menu"></box-icon>
            <box-icon name='x' class="menu inactive" color="whitesmoke" id="x-menu"></box-icon>
            <h1>
                SNAPSHOT
            </h1>
            <P>The Way</P>
            <P>You DISPLAY</P>
        </header>

        <section class="image-gallery">
            <div class="card">
                <div class="image-container">
                    <img src="/static/img/header-bg.jpg" alt="author name">
                </div>
                <h2>
                    Img Name
                </h2>
                <p>
                    Author Name
                </p>
                <p>
                    <box-icon type="solid" color="black" name='like' animation='tada' id="userid"></box-icon>
                </p>
            </div>

        </section>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>