<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</head>
<body>
    <div class="content">
        <box-icon name='menu' color="whitesmoke" class="menu" id="line-menu"></box-icon>
        <box-icon name='x' class="menu inactive" color="whitesmoke" id="x-menu"></box-icon>
        <nav>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
        </nav>
        <section>
            <div class="container">
                <div class="inputbox">
                    <input type="text" id="img-name" name="img-name"  required  autocomplete="off">
                    <label for="img-name">Image Name</label>
                </div>
                <input type="file" id="file">
                <div class="btn-grp">
                    <div class="preview">
                        <img src="" alt="Image-Preview" id="image_preview">
                        <span id="preview_text">Choose file to preview</span>
                    </div>
                    <button id="upload" class="btn">upload</button>
                </div>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
</body>
</html>