{% extends 'base.html' %}

{% block nav1_item %}   Home  {% endblock%}
{% block nav2_item %}   SignIn  {% endblock%}

{% block nav_link %} /form  {% endblock%}

{% block body %}
        <section>
            <div class="container">
                <div class="inputbox">
                    <input type="text" id="img-name" name="img-name"  required  autocomplete="off">
                    <label for="img-name">Image Name</label>
                </div>
                <div class="upload">
                    <input type="file" id="file">
                    <img src="{{ url_for('static', filename='img/upload.png') }}" alt="Click To upload" id="upload-btn">
                    <span>Upload File</span>
                </div>
                <div class="btn-grp">
                    <div class="preview">
                        <img src="" alt="Image-Preview" id="image_preview">
                        <h2 id="preview_text">Preview Box</h2>
                    </div>
                    <button id="upload" class="btn">upload</button>
                </div>
            </div>
        </section>
{% endblock  %}